body{
    font-family: 'Abel', sans-serif;
    margin: 0;
}
.first-section{
    display: flex;
    padding-left: 40px;
    background-image: url(bgimages/first-section.jpg);
    background-repeat: no-repeat;
    color: aliceblue;
    font-size: 20px;
    height: 550px; 
}
.first-section h1{
    font-size: 50px;
}
.f-left{
    width: 50%;
}
.f-right{
    width: 50%;
}
.text-part{
    color: yellow;
}
.link-button{
    text-decoration: none;
    /* border: 5px solid yellowgreen; */
    border-radius: 10%;
    padding:10px  15px;
    /* background-color: yellowgreen; */
    background-image: linear-gradient(yellowgreen, green);
    color: blanchedalmond;
}

.second-section{
    display: flex;
    padding-left: 40px;
    background-image: url(bgimages/second-section.png);
    background-repeat: no-repeat;
    background-size: 100%;
    color: aliceblue;
    font-size: 20px;
    
}
.second-section h1{
    font-size: 50px;
}
.s-left img{
    width: 50%;
    margin-left: 80px;
}
.s-left{
    width: 50%;
    
}
.s-right{
    width: 50%;
    margin-top: 200px;
    padding-right: 60px;
}
.third-section{
    background-image: url(bgimages/third_section.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 700px;
    font-size: 20px;
    padding-left: 20px;
    padding-top: 20px;
    color: aliceblue;
}
.third-section1{
    display: flex;
    
    
}
.third-section1 h4{
    color: darkgoldenrod;
}
.third-section1 div{
    box-shadow: 5px 5px 5px 5px cyan;
    height: 400px;
    width: 500px;
    padding-left: 50px;
}
.t-left{
    width: 50%;
    margin-left: 50px;
    border-left: 5px solid red;
}
.t-right{
    width: 50%;
    margin-left: 120px;
    border-left: 5px solid blue
}